.CardDiv {
  align-items: center;
  background-color: #505469;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 680px;
  justify-content: space-between;
  outline: 10px solid black;
  overflow: hidden;
  padding: 50px;
  transition: 200ms;
  width: 400px;
}

.savedCards {
  margin: 100px 10px 0;
}

.CardDiv .H2 {
  background-color: black;
  bottom: 50px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  position: relative;
  transition: 200ms;
  width: 405px;
}

.CardDiv .H2 .NameColor {
  border-radius: 75px 35px 75px 45px;
  height: 43px;
  margin: 10px 0 5px 38px;
  max-width: 300px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.CardDiv .ImgDesc {
  background-image: url('https://i.pinimg.com/originals/aa/34/e1/aa34e1c76a6569a36499ae86098759ee.jpg');
  background-position: top -290px left 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid black;
  height: 400px;
  margin-bottom: 40px;
  text-align: center;
  width: 380px;
}

.CardDiv .ImgDesc p {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.attrDiv {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.attrDiv div {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 110px;
}

.attrDiv div h4 {
  padding: 10px;
}

.CardRareCard {
  margin-top: 20px;
  text-transform: uppercase;
  transition: 200ms;
}

.Element img {
  margin-right: 10px;
  margin-top: 5px;
  width: 50px;
}

.CardDiv .Input {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 360px;
}

.CardDiv .Input input {
  background: url('../../images/trashcan.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px;
  border: none;
  height: 35px;
  left: 10px;
  position: relative;
  top: 10px;
  transition: 200ms;
  width: 35px;
}

.CardDiv .Input input:hover {
  filter: brightness(50%);
}

/* Rainbow text */
.rainbow {
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
  transition: 200ms;
}

.RTA {
  animation: rainbow_animation 6s ease-in-out infinite;
  background: linear-gradient(to right, #66f, #09f, lime, #f39, #66f);
  background-clip: text;
  background-size: 400% 100%;
  color: transparent;
}

@keyframes rainbow_animation {

  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

/* https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css */

/* rarity colors */

/* Normal Rarity */

@keyframes breath1 {

  0% { background-position: top 100px right 0; } }

@keyframes breath2 {

  0% { background-position: top 100px right 0; } }

@keyframes breath3 {

  0% { background-position: top 100px right 0; } }

@keyframes breath4 {

  0% { background-position: top 100px right 0; } }

.normal {
  animation: breath1 0.5s linear normal;
  background-image: linear-gradient(to top, lightgreen 10%, rgba(255, 255, 255, 0)
  40%);
}

.normal .H2 .NameColor {
  background-color: lightgreen;
  transition: 200ms;
}

.normal .CardRareCard {
  color: black;
}

/* Rare Rarity */
.raro {
  animation: breath2 0.5s linear normal;
  background-image: linear-gradient(to top, blue 10%, rgba(255, 255, 255, 0)
  40%);
}

.raro .H2 .NameColor {
  background-color: blue;
  transition: 200ms;
}

.raro .CardRareCard {
  color: black;
}

/* SuperRare Rarity */
.muito {
  animation: breath3 0.5s linear normal;
  background-image: linear-gradient(to top, blueviolet 10%, rgba(255, 255, 255, 0)
  40%);
}

.muito .H2 .NameColor {
  background-color: blueviolet;
  transition: 200ms;
}

.muito .CardRareCard {
  color: black;
}

/* Legend Rarity */
.lendário {
  animation: breath4 0.5s linear normal;
  background-image: linear-gradient(to top, gold 10%, rgba(255, 255, 255, 0)
  40%);
}

.lendário .H2 .NameColor {
  background-color: gold;
  transition: 200ms;
}

.lendário .CardRareCard {
  color: black;
  transition: 200ms;
}

/* Formas */
.triangulo {
  border-bottom: 100px solid black;
  border-left: 50px solid transparent;
  position: absolute;
  transform: rotate(180deg);
}

.trianguloInner {
  border-bottom: 80px solid silver;
  border-left: 40px solid transparent;
  position: absolute;
  transform: rotate(180deg);
}

.trianguloInnerTwo {
  border-bottom: 60px solid transparent;
  border-left: 30px solid black;
  border-radius: 80% 30% 100% 0% / 40% 0% 100% 80%;
  margin-left: 6px;
  margin-top: 4px;
  position: absolute;
}

.line {
  border-bottom: 300px solid transparent;
  border-left: 30px solid silver;
  clip-path: inset(3% 75% 0 10%);
  margin-left: -10px;
  margin-top: -55px;
  position: absolute;
  transform: rotate(26deg);
}
