body {
  background-attachment: fixed;
  /* background-image: url('https://guikao.files.wordpress.com/2012/01/pokemon_wallpaper01_1680.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

img {
  width: 200px;
}

.SavedCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.AllCardsHeader {
  margin-top: 150px;
  text-align: center;
}
