body {
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1039%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(93%2c 101%2c 141%2c 1)'%3e%3c/rect%3e%3cpath d='M1758.786%2c1002.833C1789.997%2c1002.579%2c1814.273%2c977.336%2c1827.731%2c949.175C1839.403%2c924.752%2c1832.913%2c897.795%2c1820.471%2c873.755C1806.59%2c846.936%2c1788.982%2c816.353%2c1758.786%2c815.965C1728.235%2c815.573%2c1708.559%2c845.115%2c1694.296%2c872.136C1681.214%2c896.919%2c1675.47%2c925.182%2c1687.87%2c950.313C1701.821%2c978.586%2c1727.26%2c1003.09%2c1758.786%2c1002.833' fill='rgba(171%2c 174%2c 199%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M370.21 121.42 a183.17 183.17 0 1 0 366.34 0 a183.17 183.17 0 1 0 -366.34 0z' fill='rgba(171%2c 174%2c 199%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2068.553761239768 475.26484223779187L1888.2805569100055 339.4192389900908 1752.4349536623045 519.6924433198533 1932.7081579920668 655.5380465675544z' fill='rgba(171%2c 174%2c 199%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1173.199%2c1205.268C1271.188%2c1201.536%2c1380.443%2c1193.006%2c1430.01%2c1108.396C1479.932%2c1023.179%2c1439.485%2c920.428%2c1390.21%2c834.836C1340.794%2c748.998%2c1272.225%2c664.3%2c1173.199%2c662.309C1071.627%2c660.267%2c994.533%2c739.743%2c940.531%2c825.795C881.757%2c919.452%2c822.32%2c1035.074%2c880.117%2c1129.338C936.656%2c1221.55%2c1065.112%2c1209.384%2c1173.199%2c1205.268' fill='rgba(171%2c 174%2c 199%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1045.9586660936425 130.17597371555163L977.8591379885681-56.925942028655754 731.2560284247943 138.77430800105964z' fill='rgba(171%2c 174%2c 199%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1540.8972211034907 430.8986257425437L1360.9888538284185 386.0424318350725 1316.1326599209474 565.9507991101447 1496.0410271960195 610.8069930176159z' fill='rgba(171%2c 174%2c 199%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1039'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

img {
  width: 200px;
}

.SavedCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.AllCardsHeader {
  margin-top: 150px;
  text-align: center;
}
